 *{
    font-family: 'Ubuntu', sans-serif;}
.head{
    background: #000 url(head.png)
    no-repeat ;
    height: 700px;
    color: #fff;

    
}

.head img{
    margin-left: 150px;
    margin-top: 30px;
    
}
.head ul{
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    text-shadow: #000 2px 5px;
}

.body-1{
    background-color: #000 ;
    height: 700px;
}

.body-1 img{
    width: 700px;
    position: absolute;
    left: 50%;
    margin-top: 40px;
}

.body-1 ul{
    color: #fff;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 30PX;

}

.body-2{
    background-color: #000;
    height: 700px;
}

.body-2 img{
        width: 650px;
        position: absolute;
        left: 10%;
}

.body-2 ul{
    color: white;
    padding-top: 100px;
    padding-left: 46%;
    font-size: 30px;

}

.body-3{
    background-color: #000;
    height: 700px;
}
.body-3 img {
    width: 700px;
    position: absolute;
    left: 50%;
}

.body-3 ul{
    color: #fff;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 30px;
}

.body-4{
    background-color: black;
    height: 700px;
}

.body-4 img{
    width: 650px;
    margin-top: 30PX;
    margin-left: 30px;
}


    

.body-5{
    background-color: #000;
    height: 800px;
}






.body-5 button{
    font-size: 20px;
    
}



.foot{
    background-color: #2d2d2d;
    height: 300px;
}

.foot a{
    color: #fff;

}